@{
    ViewData["Title"] = "Démarrer une Partie";
}

<h2>Démarrer une Partie</h2>

<form asp-action="StartLocalGame" method="post">
    <div>
        <label for="player1Pseudo">Pseudo du Joueur 1 :</label>
        <input type="text" id="player1Pseudo" name="player1Pseudo" required />
    </div>
    <div>
        <label for="player2Pseudo">Pseudo du Joueur 2 :</label>
        <input type="text" id="player2Pseudo" name="player2Pseudo" required />
    </div>
    <button type="submit">Démarrer la Partie</button>
</form>